.list-row {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.left-box {
  display: flex;
}
.list-item-img {
  height: 120px;
  margin-right: 20px;
}
.list-p {
  margin-right: 10px;
}
.delete-btn {
  border: 0px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  margin: 0px;
}
button {
  cursor: pointer;
}
